/* common shared style */
body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 226px;
}

.nav-title {
    color: var(--Dark-01, #181818);

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 45px;
    font-weight: 800;
    line-height: normal;
}

.text-primary {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 50px;
}

.button {
    width: 150px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 0;
    background: #FD6E0A;
    color: white;
    font-size: 20px font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 18px
}

/* header ralated style */

.header {
    background-color: #FFF8F3;
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;

}

.banner-greating {
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0px;

}

.banner-title {
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

banner-text {
    color: #757575;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    width: 585px;
}

/* main sectioins styles */

.about {
    width: 1140px;
    height: 550px;
    flex-shrink: 0;
    /* padding: 230px; */
    border: 10px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 230px 130px 230px;

}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* margin: 131px 486px 371px 485px; */
    padding: 131px 400px 30px 400px;
}

.section-description {
    color: #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    /* margin-bottom: 30px; */
    padding-bottom: 3px;
    padding: 0px 156px;
}

/* about sections */

.about-info-container {
    display: flex;
    justify-content: space-around;

}

.about-info {
    text-align: center
}

/* What i do section start */

.section-title-what {
    color: #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.what-i-do-description {
    margin: auto;
    width: 909px;
    height: 90px;
    color: #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    padding: 30px auto;

}

.skills-container {
    display: flex;
    padding: 0px 200px;
    gap: 24px;
    padding-top: 50px;


}

.skill-description {
    /* padding: 30px; */
    color: #757575;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */

}

.skills {
    padding: 30px;
    gap: 24px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skills-title {
    color: #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* resume sectionstyles */

.resume-column-title {
    color: #474747;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
